/*
Theme: Mes Réflexes et moi.
Author: Romain Fourel
Version: 1.0.1
Fichiers Varaibles couleurs
*/

// Couleurs principal
$primaryGreen: #84BFB4;
$secondaryGreen: #D3D929;
$primaryOrange: #F2B705;
$primaryRed: #D93B18;
$primaryWhite: #F2F2F2;
$sweetGreen: #3E5954;
$secondaryBlue: #E4F2F0;
$purple: #833E8C;
$deepRed: #BF2517;
$GreenDeeper: #4F736C;
$greenBlack: #2C403C;
$themBlack: #090D0C;
$ligthgray: lightgray;



//taille d police 
$fontnavMenu: xx-large;
//type de police 
$fontHome: 'Jost-Black', sans-serif;
$fontHomeItalic: 'Jost-BlackItalic', sans-serif;
$fontHomeregular: 'Jost-Regular', sans-serif;
$fontPreflexes: 'Lexend-Black', sans-serif;
$fontPreflexesRegular: 'Lexend-Regular', sans-serif;
$fontSeanType: 'Onest-Black', sans-serif;
$fontStRegular: 'Onest-Regular', sans-serif;